@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white dark:bg-dark overflow-y-auto [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500 [&::-webkit-scrollbar-track]:bg-transparent dark:[&::-webkit-scrollbar-track]:bg-black [&::-webkit-scrollbar]:w-2;
}

.index-button{
  @apply bg-sky-600/25 text-black dark:text-white bg-gradient-to-bl from-white/25 hover:bg-gradient-to-tr hover:to-violet-700/50 hover:from-sky-400 to-sky-500/50 backdrop-blur-3xl p-3 rounded-3xl font-bold border-2 border-sky-500 antialiased hover:underline hover:scale-105 transition-all duration-300 ease-out ;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}